testprocmod.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI procmod test 2</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished draft</p>
         </publicationStmt>
         <sourceDesc>
            <p>derived from ti.odd, part of TEI-Simple initial test files </p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change when="2016-12-16">check validity with TEI P5 3.1</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <p>Here we provide an element for each suggested behaviour</p>
         <schemaSpec ident="teipm" start="TEI div">
            <moduleRef key="tei"/>
            <moduleRef key="core"
               include="addrLine address author cb choice cit corr email graphic 
               head item list l lb lg name note p 
               pb ptr quote ref sic term title"/>
            <moduleRef key="header"
               include="availability change distributor fileDesc idno keywords 
               langUsage language licence profileDesc publicationStmt revisionDesc 
               sourceDesc teiHeader textClass titleStmt"/>
            <moduleRef key="textstructure" include="TEI back body div front text"/>
            <moduleRef key="linking" include="ab anchor"/>
            <moduleRef key="figures" include="cell figure row table"/>
            <moduleRef key="gaiji" include="g"/>
            
            <elementSpec ident="choice" mode="change">
               <constraintSpec ident="choiceSize" scheme="isoschematron" mode="add">
                  <constraint>
                     <assert xmlns="http://purl.oclc.org/dsdl/schematron" test="count(*) &gt; 1"
                        role="ERROR"> Element "<name/>" must have at least two child elements.</assert>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="choiceContent" scheme="isoschematron" mode="add">
                  <constraint>
                     <assert xmlns="http://purl.oclc.org/dsdl/schematron"
                        test="(tei:corr or tei:sic or tei:expan or     tei:abbr or tei:reg or tei:orig) and ((tei:corr and tei:sic) or (tei:expan     and tei:abbr) or (tei:reg and tei:orig))"
                        role="ERROR"> Element "<name/>" must have corresponding corr/sic, expand/abbr,
                        reg/orig </assert>
                  </constraint>
               </constraintSpec>
               <model output="plain" predicate="sic and corr" behaviour="inline">
                  <param name="content" value="corr[1]"/>
               </model>
               <model output="plain" predicate="abbr and expan" behaviour="inline">
                  <param name="content" value="expan[1]"/>
               </model>
               <model output="plain" predicate="orig and reg" behaviour="inline">
                  <param name="content" value="reg[1]"/>
               </model>
               <model predicate="sic and corr" behaviour="alternate">
                  <param name="default" value="corr[1]"/>
                  <param name="alternate" value="sic[1]"/>
               </model>
               <model predicate="abbr and expan" behaviour="alternate">
                  <param name="default" value="expan[1]"/>
                  <param name="alternate" value="abbr[1]"/>
               </model>
               <model predicate="orig and reg" behaviour="alternate">
                  <param name="default" value="reg[1]"/>
                  <param name="alternate" value="orig[1]"/>
               </model>
            </elementSpec>
            <elementSpec ident="anchor" mode="change">
               <model behaviour="anchor">
                  <param name="id" value="@xml:id"/>
               </model>
            </elementSpec>
           
            <elementSpec ident="ab" mode="change">
               <model behaviour="block">
                  <outputRendition> border-style: solid; border-width: medium; </outputRendition>
               </model>
            </elementSpec>
            
            <elementSpec ident="lb" mode="change">
             
              <model behaviour="break">
                  <param name="label" value="@n"/>
                  <param name="type" value="'line'"/>
               </model>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <model behaviour="break">
                  <param name="label" value="@facs"/>
                  <param name="type" value="'page'"/>
               </model>
            </elementSpec>
            
            <elementSpec ident="cb" mode="change">
               <model behaviour="break">
                  <param name="label" value=""/>
                  <param name="type" value="'column'"/>
               </model>
            </elementSpec>
            
            <elementSpec ident="cell" mode="change">
               <model behaviour="cell"/>
            </elementSpec>
            <elementSpec ident="cit" mode="change">
               <model behaviour="cit">
                  <param name="content" value="q|quote"/>
                  <param name="source" value="bibl|ref"/>
               </model>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <model behaviour="document"/>
            </elementSpec>
            
            <elementSpec ident="figure" mode="change">
               <model behaviour="figure">
                  <param name="title" value="head"/>
               </model>
            </elementSpec>
            
            <elementSpec ident="g" mode="change">
               <model behaviour="glyph">
                  <param name="link" value="@ref"/>
               </model>
            </elementSpec>
            
            <elementSpec ident="graphic" mode="change">
               <model behaviour="graphic">
                  <param name="url" value="@url"/>
                  <param name="width" value="@width"/>
                  <param name="height" value="@height"/>
                  <param name="scale" value="@scale"/>
                  <param name="title" value="@n"/>
                  <!-- graphics dont have titles; figures do -->
               </model>
            </elementSpec>
            
            <elementSpec ident="head" mode="change">
               <model predicate="parent::div[@type='chapter']" behaviour="heading">
                  <param name="level" value="chapter"/>
               </model>
               <model predicate="parent::div[not(@type)]" behaviour="heading">
                  <param name="level" value="part"/>
               </model>
               <model predicate="parent::lg" behaviour="heading">
                  <param name="level" value="verse"/>
               </model>
            </elementSpec>
            
            <!-- dunno what behaviour index is meant for -->
            
            <elementSpec ident="quote" mode="change">
               <model predicate="ancestor::p" behaviour="inline">
                  <outputRendition>font-style: italic;</outputRendition>
               </model>
               <model behaviour="block">
                  <outputRendition>left-margin: 2em;</outputRendition>
               </model>
            </elementSpec>
            
            <elementSpec ident="list" mode="change">
               <model behaviour="list"/>
            </elementSpec>
            
            <elementSpec ident="item" mode="change">
               <model behaviour="listitem"/>
            </elementSpec>
            
            
            <elementSpec ident="ref" mode="change">
               <model behaviour="link">
                  <param name="link" value="@target"/>
                  <param name="content" value="."/>
               </model>
            </elementSpec>
            
            <elementSpec ident="teiHeader" mode="change">
               <model behaviour="metadata"/>
            </elementSpec>
            
            
            <elementSpec ident="note" mode="change">
               <modelSequence output="web">
                  <model behaviour="inline">
                     <param name="content" value="@n"/>
                  </model>
                  <model behaviour="note">
                     <param name="place" value="'end'"/>
                  </model>
               </modelSequence>
               <model predicate="ancestor::div[@type='ignoreMe']" behaviour="omit"/>
            </elementSpec>
            
            <elementSpec ident="p" mode="change">
               <model behaviour="paragraph"/>
            </elementSpec>
            
            
            <elementSpec ident="row" mode="change">
               <model behaviour="row"/>
            </elementSpec>
            
            <elementSpec ident="div" mode="change">
               <model behaviour="section"/>
            </elementSpec>
               
            <elementSpec ident="table" mode="change">
               <model behaviour="table"/>
            </elementSpec>
            
            <elementSpec ident="title" mode="change">
               <model behaviour="title" predicate="parent::titleStmt"/>
            </elementSpec>
            
            
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <model behaviour="paragraph">
                  <outputRendition>font-style:italic;</outputRendition>
               </model>
            </elementSpec>
            
            
            <elementSpec ident="lg" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <!-- line groups to be modeled as block divisions -->
               <model behaviour="block"/>
               <!--   class="verse"> -->
            </elementSpec>
            
            <elementSpec ident="l" mode="change">
               <model behaviour="verseLine"/>
               <!-- not a predefine behaviour though -->
            </elementSpec>
            
            <elementSpec ident="front" mode="change">
               <model behaviour="block"/>
            </elementSpec>
            
            <elementSpec ident="body" mode="change">
               <model behaviour="block"/>
            </elementSpec>
            
            <elementSpec ident="back" mode="change">
               <model behaviour="block"/>
            </elementSpec>
            
            
            
         </schemaSpec>
      </body>
   </text>
</TEI>
